.stats-display {
    min-height: 94vh;

    flex-grow: 1;
}
.stats-display table {
    width: 100%;
    margin-top: 10pt;
    margin-bottom: 10pt;

    padding-left: 20%;
    padding-right: 20%;
}
.stats-display td {
    text-align: right;
}

.hp {
    color: darkgreen;
}
.attack {
    color: goldenrod;
}

.defense {
    color: darkorange;
}

.special-attack {
    color: darkcyan;
}

.special-defense {
    color: royalblue;
}
.speed {
    color: darkmagenta;
}