.move-list {
    height: 94vh;

    flex-grow: 2;
}

.move-list > h2 {
    height: 10%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.move-list-panel {
    flex: 1;

    margin-left: auto;
    margin-right: auto;

    padding: 10pt;

    background-color: white;
    border-radius: 10pt;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    height: 90%;
}
.move-list-panel > .accordion {
    scroll-snap-align: start;
    margin-bottom: 1rem;
}

.move-list-panel > .accordion > .accordion-body > p {
    max-width: 10vw;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}