.move-list {
    flex: 1;

    margin-left: auto;
    margin-right: auto;

    border: 10pt solid white;
    border-right: 0;
    padding-right: 10pt;

    max-height: 100%;

    background-color: white;
    border-radius: 10pt;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.move-list > * {
    scroll-snap-align: start;
    margin-bottom: 1rem;
}