@media (orientation: landscape) {
    .pokemon-viewer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1vw;

        height: 100%;
    }

    .pokemon-viewer-mid-col {
        min-height: 94vh;

        flex-grow: 6;

        display: flex;
        flex-direction: column;
        gap: 1.5vh;

        height: fit-content;
    }

    .placeholder-stat-col {
        flex: 1;
        background-color: darkblue;
        color: white;
        font-size: 2rem;
    }
    .placeholder-form-select {
        height: 10vh;
        background-color: darkred;
        color: white;
        font-size: 2rem;
    }
}

.bubble-container {
    background-color: white;
    /*border: 3pt solid #0000001a;*/
    border-radius: 10pt;
    
    overflow: hidden;
}

.poke-button {
    background-color: crimson;
    transition: background-color 0.25s;
    
    padding-top: 6pt;
    padding-bottom: 6pt;
    margin: 0;

    font-size: 1.35rem;
    font-weight: bold;

    -webkit-text-stroke: 4pt rgb(15, 15, 15);
    paint-order: stroke fill;
    
    border: 3pt solid rgba(0, 0, 0, 0.2);
    border-radius: 10pt;
}
.poke-button:hover {
    background-color: #9a0422;
}
h1,h2,h3,h4 {
    text-wrap: nowrap;
}
h2 {
    font-size: 2rem;
}