.pokemon-search-container {
    padding-left: 1rem;
    padding-right: 1rem;
    
    flex-grow: 1;
}
.pokemon-search-container h1 {
    font-size: 2vw;
    display: flex;
    align-items: center;
}
.name-input-container {
    width: 20rem;
}
.name-search {
    text-align: center;

    background-color: #00000080;
    border-radius: 10pt;

    margin-left: auto;
    margin-right: auto;
}
.name-search, .pokemon-search {
    height: 3.5rem;
}
.autocompletions {
    position: absolute;

    z-index: 1;

    padding: 2rem;

    width: 20rem;
    max-height: 18rem;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.autocompletions > * {
    display: block;
    width: 100%;

    scroll-snap-align: start;
    height: 4rem;
    margin-bottom: .5rem;
}