.sprite-display {
    background-color: white;
    border-radius: 10pt;

    height: 50vh;
}

.sprite-display>img,
.noimg {
    height: 100%;

    image-rendering: pixelated;


}

.sprite-display>img {
    cursor: pointer;
    filter: drop-shadow(10px 10px 10px darkgrey);
}

@keyframes bounce {
    5% {
        transform: scale(1.1);
    }

    100% {}
}

@keyframes twist-left {
    0% {}

    25% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {}
}

@keyframes twist-right {
    0% {}

    25% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {}
}

.sprite-bounce {
    /*animation: 0.5s bounce ease-in-out 0s; */
    /*actually it only works if both animations are on the same class*/
    cursor: default !important;
}

.sprite-twist-left {
    animation-name: bounce, twist-left;
    animation-duration: 1s, 1s;
    animation-timing-function: ease-out, linear;
}

.sprite-twist-right {
    animation-name: bounce, twist-right;
    animation-duration: 1s, 1s;
    animation-timing-function: ease-out, linear;
}

@media (orientation: landscape) {
    .sprite-display {
        flex-grow: 16;
    }
}